#### Begin Урок 30 ###

#включаем механизам преобразований URL (относиться к mod_rewrite)
RewriteEngine On

#Тест мой
#редирект с www.site.ru на site.ru без www
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,QSA,L]

#переопределить корень сайта, станет как "/"
#RewriteBase /

#1
#Redirect 301 /index.html http://codemutasks/lesson30.php

#2
#Redirect 301 /index1.php http://codemutasks/1.php
#Redirect 301 /index2.php http://codemutasks/2.php
#Redirect 301 /index3.php http://codemutasks/3.php

#3
#Redirect 301 /index1.php http://codemutasks

#4
#RewriteRule ^dir/.*$ /lesson30.php

#5
#RewriteRule ^dir1/.*$ /lesson30.php
#RewriteRule ^dir2/.*$ /lesson30.php

#6
#RewriteRule \.html$ /lesson30.php

#7
#RewriteRule [^/lesson30.php]\.php$ /lesson30.php

#8
#RewriteRule [^/lesson30.php]\.(php|html)$ /lesson30.php

#9
#RewriteRule (.*)\.html$ /$1.php

#10
#RewriteRule (.*) http://site.com/$1

#11
#RedirectMatch index(.*)\.php$ http://codemutasks/$1.php

#12
#RedirectMatch .*/dir/.* http://codemutasks/lesson30.php

#13
#RedirectMatch .*dir.* http://codemutasks/lesson30.php

#14
#RedirectMatch .*/dir/ http://codemutasks/lesson30.php

#15
#RedirectMatch .*/test(\d*).php$ http://codemutasks/lesson30.php

#16
#RedirectMatch .*/test(\d*).php$ http://codemutasks/lesson30.php

#17
#RedirectMatch .*/(\d*)/.* http://codemutasks/lesson30.php

#18
#RewriteRule !(test|lesson30).php /lesson30.php

#19
#RewriteRule !(\.html|lesson30.php)$ /lesson30.php

#20
#RewriteRule !(^webroot/.*|lesson30.php) /lesson30.php

#21
#RewriteCond %{REQUEST_URI} \.html$
#RewriteRule .+ /lesson30.php

#22
#RewriteCond %{REQUEST_URI} !\.html$
#RewriteCond %{REQUEST_URI} !lesson30\.php$
#RewriteRule .+ /lesson30.php

#23
#RewriteCond %{REQUEST_URI} \.html$ 
#RewriteCond %{REQUEST_URI} ^/content/
#RewriteRule .+ /lesson30.php

#24
#RewriteCond %{REQUEST_URI} !^/lesson30.php$
#RewriteCond %{REQUEST_URI} \.html$ [OR]
#RewriteCond %{REQUEST_URI} \.php$
#RewriteRule .+ /lesson30.php

#25
#RewriteCond %{REQUEST_URI} !^/lesson30.php$
#RewriteCond %{REQUEST_URI} \.css$ [OR]
#RewriteCond %{REQUEST_URI} ^/styles/
#RewriteRule .+ /lesson30.php

#26
#RewriteCond %{REQUEST_URI} !^/lesson30.php$
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule .+ /lesson30.php

#27
#RewriteCond %{REQUEST_URI} !^/lesson30.php$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .+ /lesson30.php

#28
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule .+ /lesson30.php

#29
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .+ /lesson30.php

#30
#RewriteCond %{REQUEST_URI} !^/lesson30.php$
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteCond %{REQUEST_URI} \.html$
#RewriteRule .+ /lesson30.php

#31
#RewriteCond %{REQUEST_URI} !^/lesson30.php$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .+ /lesson30.php

#32
#RewriteBase /
#RewriteRule ^lesson29.php$ lesson30.php [L]
#RewriteRule .+ lesson30.php

#33-34
#RewriteBase /
#RewriteCond %{REQUEST_URI} !^/lesson30\.php$
#RewriteRule (.+) lesson30.php?get=$1

#35
#RewriteBase /
#RewriteRule ^test.php$ lesson30.php [NC]

#36
#ErrorDocument 404 http://codemutasks/404.php

#37
#см.папка test/.htaccess

#### End Урок 30 ###